<!DOCTYPE html>
<html>
	<head>
	    <html lang="en">

	<!-- Make by Alison Ostendorf
	site: Virgo Ventures Blog
	VirgoVentures.org
	team@VirgoVentures.org -->

	  	<title>Virgo Ventures - Blog</title>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="Virgo's rants, Virgo's ventures, and Virgo Newsletter" content="Virgo's rants, Virgo's ventures, and Virgo Newsletter">
	  	<link rel="stylesheet" href="css/bootstrap.css">
	  	<link rel="stylesheet" href="css/main.css">

	    <!-- below is for modals -->
	    <script type="text/javascript"> $(function ()
	        { $("#myModal").modal({show:false }); </script>

	</head>
	<body class="<%= controller_name %><%= action_name%>">
		<div class="container main-container">
			<div class="jumbotron">

				<nav class="nav-text">
					<ul>
						<li><a href="VirgoVentures.html">Virgo's Ventures</a></li>
						<li><a href="AboutVirgo.html">About Virgo</a></li>
						<li><a href="VirgoProperties.html">Virgo's Properties</a></li>
						<li><a href="Blog_Index.html">Virgo's Blog</a></li>
						<li><a href="ContactVirgo.html">Contact Virgo</a></li>
					</ul>
				</nav>
			</div><!-- end jumbotron -->

			<div class="clear"></div>

			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		</div><!-- end main-container here -->
	   
	     <footer>
	      <div class="container align-right">
	        <h6>Developed by Virgo Ventures LLC.   Contact us by emailing team@virgoventures.org</h6>
	      </div><!-- end footer content container -->
	    </footer>


	<!-- Scripts -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>

</body>
</html>